/src/Backend/PictureStore/_ReSharper.Caches
/src/Backend/PictureStore/PictureStore.Web.Api/temp
/src/Backend/PictureStore/PictureStore.Web.Api/Dockerfile
/src/Backend/PictureStore/PictureStore.WorkerServices.FileTransferWorkerService/Dockerfile
/src/Backend/PictureStore/PictureStore.WorkerServices/Dockerfile
/src/Backend/PictureStore/PictureStore.WorkerServices/appsettings.json
/src/Backend/PictureStore/Configurations/appsettings.Debug.json
/src/Backend/PictureStore/PictureStore.Web.Api/appsettings.json
